<?xml version="1.0" encoding="utf-8"?>
<!--
  HR module web.config
  Deployed as a separate IIS Application under /HR (like MM, PP, PK).
  NOTE: Connection string name is "StockDB" (not "StockDBConnection").
  Update the actual connection string to match your VPS MySQL.
-->
<configuration>

  <connectionStrings>
    <add name="StockDB"
         connectionString="Server=localhost;Port=3308;Database=sirimiri_erp;Uid=sirimiri_app;Pwd=REPLACE_ME;CharSet=utf8mb4;SslMode=None;Allow User Variables=True;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <system.web>
    <compilation debug="false" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="30720" executionTimeout="300" />
    <customErrors mode="Off" />
    <sessionState mode="InProc" timeout="60" />
    <pages enableViewStateMac="true" />
    <authentication mode="Forms">
      <forms loginUrl="/Login.aspx" timeout="60" />
    </authentication>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0"
           path="*." verb="*"
           type="System.Web.Handlers.TransferRequestHandler"
           preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="31457280" />
      </requestFiltering>
    </security>
  </system.webServer>

</configuration>
