<?xml version="1.0"?>
<configuration>
  <configSections/>
  <connectionStrings>
    <add name="StockDB" connectionString="server=localhost;port=3306;database=StockDB;uid=root;password=internal1020~;Allow User Variables=True;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="AppName" value="Sirimiri PK"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8" maxRequestLength="16384" executionTimeout="120"/>
    <sessionState mode="InProc" timeout="60"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8"/>
    <authentication mode="None"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="PKLogin.aspx"/>
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>