<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="StockDB"
         connectionString="server=127.0.0.1;port=3308;database=StockDB;uid=root;password=internal1020~;Allow User Variables=True;"
         providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8"/>
    <sessionState mode="InProc" timeout="60"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="UALogin.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
